	#art {
	    display: table;
	    border-spacing: 1px;
    	background-color: black;
    	border: 5px solid black;
  }
  
  .row {
	  display: table-row;
	}
	
  .pixel {
    display: table-cell;
    background-color: white;
    szerokość: 40px;
		wysokość: 40px;
	}
	
	.pen {
	  display: inline-block;
	  szerokość: 40px;
		wysokość: 40px;
		border: 2px solid black;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
  
    
  